


/* ESTILO GERAL*/
*{
    margin: 0;/* 
    Remove as margens padrão que navegadores aplicam 
    automaticamente a elementos como 
    <body>, <h1>, <p>, <ul>, etc.
    Isso garante um início "limpo" no layout.
    Por quê usar?
    
    Evita inconsistências entre navegadores, onde o espaçamento padrão pode variar.
    Dá controle total sobre o espaçamento externo dos elementos.*/

    padding: 0; /*2. padding: 0;
    Remove o preenchimento interno padrão aplicado a elementos. Assim como a margem, navegadores aplicam diferentes padrões de preenchimento, por exemplo, em botões e listas.
    
    Por quê usar?
    
    Garante que o espaço interno dos elementos não interfira no design.
    Dá liberdade para configurar preenchimentos de maneira uniforme.*/
        
    box-sizing: border-box; /*Altera o modelo de cálculo do tamanho de elementos para incluir o padding e borda dentro das dimensões especificadas (largura e altura).
    Isso significa que:
    */         



    font-family: "Poppins", serif; 
    /* FONTE COPIADA DO SITE */
} 

body{  /*aplico uma stylização para o body*/
    background-color: rgb(171, 171, 173); /* cor do corpo inteiro do site*/
    height: 100vh; /*toma todo o espaço da tela*/
}

.interface{ /* aplicar estilização na interface*/
   max-width: 1280px; /* largura maxima*/
   margin: 0 auto; /* deixa centralizado na tela*/


} 
.flex{
    display: flex;
    
}
.btn-contato button{ 
    /* para estilisar o botao de contato */

    padding: 10px 40px; 
    /* espaçamento do botao */

    font-size: 18px;
    /* tamanho da font */

    font-weight: 600;
    /* aumentar o peso da font */

    background-color:rgba(255, 217, 0, 0.767);

    border: 0; 
    /* retiramos a borda */

    border-radius: 30px; 
    /* deixamos o botao com borda circular */

    cursor: pointer;
    /* cursor muda ao passar em cima do botao */

    transition: .2s;
   
}

h2.titulo{
    color: #fff;
    font-size: 34px;
    text-align: center;

}







/* ESTILO DO HEADER OU CABEÇALHO*/
header{
     padding: 40px 5%;    
     /*para afastar o cabeçalho  */
     /* o 4% nao deixa que ele fique muito colado nas laterias */

}

 header >.interface{    
    /* busca os elementos da interface no cabeçalho */

    display: flex;
    align-items: center;
    justify-content: space-between;

    /* para linhar os itens */



}
 
header a{  
    /* CHAMO TODOS OS LINKS QUE ESTÃO NO CABEÇALHO */
    color: black;

    text-decoration: none;
    /*  tirar o sublinhado de cada item do cabeçalho */

    display: inline-block; 
    /* OBS descrita abaixo */

    transition: .2s;
    /* transição para aumentar o tamanho de cada link do scale */

} 
header a:hover{
    /* EFEITO PARA QUANDO O USUARIO PASSAR O MAUSE EM CIMA */
    color: gold;

    transform: scale(1.05);
    /* para aumentar a escala */
    /* obs o <a> ou seja o link ele nao trabalha in line level 
    e o transform so trabalha para block level, entao devemos
    converter o link <a> para block level. Criamos no header a 
    acima o display: in line block*/
}





header nav ul{ 
    /* chamamos a lista */


    list-style-type: none; 
     /*para tirar as "bolinhas" marcadores da frente de cada link  */
}


header nav ul li{
    /* chamamos cada iten da lista */

    display: inline-block; 
    /*  cada uma fica uma ao lado da outra */

    padding: 0 40px;  
    /* espaçamento entre cada item da lista
    0 em cima em baixo, esquerda e direita 40px */
    font-size: larger;

}



.btn-contato button:hover{
    /* efeitos para quando o usuario passar o mause me cima */

    box-shadow: 0px 0px 8px rgba(247, 0, 255, 0.103); 

    /* para dar o efeito de zoon no segundo botao */
    transform: scale(1.05); 
    

} 







/* ESTILO DO TOPO DO SITE */

section.topo-do-site{
    /* aproximação da altura e da lateral */
    padding: 10px 14%;  


}

section.topo-do-site .flex{
    /* para ajustar os itens do flex que é a imagem e o texto */
    align-items: center; 
    /* para alinhar os itens do flex no centro */
    justify-content: center;

    /* para dar distanciamento entre os elementos */
    gap: 100px; 
    
}

.topo-do-site .txt-topo-site h1{ 
    /* ajustes do texto central */
    color: aliceblue ;
    font-size: 40px;
}

.topo-do-site .txt-topo-site h1 span{
    /* mudar a cor do ponto final */
    color: darkorchid;
}

.topo-do-site .txt-topo-site p{
    color: rgb(248, 252, 251);
    margin: 10px 0px;
    font-size: 20px;

} 



/* INTEGRANDO ANIMAÇÃO */

.interface .logo img{ 
    /* animação para flutuar o logo */

    position: relative;
    animation: flutuar 2s ease-in-out alternate infinite;
     

}

.txt-topo-site h1 { 
    /* animação para surgir o texto */
    position: relative;
    animation: surgirDebaixo 2s ease-in-out forwards;
}



@keyframes flutuar{ 
    /* chamo a animação de flutuar */
    0%{
        top: 0px;

    }
    100%{
        top: 30px;
    }
}


@keyframes surgirDebaixo{ 
    /* chamo a animação para surgir o texto */

      0%{
        top: 100px;
        opacity: 0;

      }
      100%{
        top: 0;
        opacity: 1;
      }
      


}


/* ESTILOS Da seção de sintomas  */ 


section.sintomas{
    /* para deixar alinhado */
    padding: 40px 4%;




}

section.sintomas .flex{
    
    display: flex;
    gap: 20px;
    flex-wrap: wrap;  
     /*permite que os iten quebrem para  a linha seguinte  */
    justify-content: space-between;
} 



h3 {
    color: #fff;

}
h3 span{
    /* deixando a palavra destacada em outra cor */
    color: #fffb02;
}

.SINTOMAS-box{
     /*estilizando as caixas  */
     flex: 1 1 calc(33.33% - 20px);
    color: #ffffff;
    padding: 10px;
    border: 2px solid #fff;
    text-align: center;
    margin-top: 20px; 
    transition: .2s;
    /* esta transition é para a animação de passar o mouse por cima de cada caixa */
    border-radius: 20px;
 } 

 .SINTOMAS-box:hover{
    /* animação para passar o mouse por cima da caixa */
    transform: scale(1.05);
    box-shadow: 0 0 20px #fffb0270;


 }



.SINTOMAS-box h4{
    margin: 15px 0%;

}